body {
    background-image: url("assets/background.png");
}

.champions { 
	width:50px; 
	height:50px; 
	float:left;	
	position:absolute;
    z-index:3;
}

.itemBar {
    width:168px;
}

.HPBar1 {
    width:100%; height:6px; background-color:green; float:left; margin-top:85%;
}

.HPBar2 {
   width:0%;
   height:6px; 
   background-color:red; 
   float:right;
   margin-top:85%;
}

.playerPhotos {
    width:128px;
    height:128px;
}

.championPhotos {
    width:128px;
    height:128px;
}

.scoreboard {
    background-color:#000000; 
    color:#ffffff;
    height:128px;
    width:168px;
}

.redGoldInfo {
   
}

.blueGoldInfo {
    margin-right:50px;
}


#infoBlue {
    width:428px;
    float:left;
}

#infoRed {
    width:428px;
    float:right;
}


.nexus{
	width:32px; 
	height:32px; 
	float:left;	
	position:absolute;
}

.turret{
	width:32px; 
	height:32px; 
	float:left;	
	position:absolute;
}

.blue{
	border: 2px solid CornflowerBlue;
}

.red{
	border: 2px solid red;
}

#map{
    margin-left:auto;
    margin-right:auto;
	background-image:url(assets/map2.png);
	background-size: cover;
	-webkit-background-size: cover;
	width:856px;
	height:856px;
	position:relative;
}

#mapChampionBlueTop{
	margin-left:100px;
	margin-top:100px;    
    background: url('assets/champions/null.png');
    background-size: 100% auto;  
}

#mapChampionRedTop{
	margin-left:150px;
	margin-top:70px;
    background: url('assets/champions/null.png');
    background-size: 100% auto;  
}

#mapChampionBlueJungler{
	margin-left:200px;
	margin-top:360px;
    background: url('assets/champions/null.png');
    background-size: 100% auto;  
}

#mapChampionRedJungler{
	margin-left:630px;
	margin-top:430px;
    background: url('assets/champions/null.png');
    background-size: 100% auto;  
}
#mapChampionBlueMid{
	margin-left:400px;
	margin-top:420px;
    background: url('assets/champions/null.png');
    background-size: 100% auto;  
}

#mapChampionRedMid{
	margin-left:440px;
	margin-top:380px;
    background: url('assets/champions/null.png');
    background-size: 100% auto;  
}
#mapChampionBlueAdc{
	margin-left:680px;
	margin-top:700px;
    background: url('assets/champions/null.png');
    background-size: 100% auto;  
}

#mapChampionRedAdc{
	margin-left:720px;
	margin-top:650px;
    background: url('assets/champions/null.png');
    background-size: 100% auto;  
}
#mapChampionBlueSupport{
	margin-left:720px;
	margin-top:740px;
    background: url('assets/champions/null.png');
    background-size: 100% auto;  
}

#mapChampionRedSupport{
	margin-left:760px;
	margin-top:700px;
    background: url('assets/champions/null.png');
    background-size: 100% auto;  
}

#blueNexus{
	margin-left:87px;
	margin-top:748px;	
}

#redNexus{
	margin-left:768px;
	margin-top:70px;
}

#info{	
	width:856px;
    height:400px;;
    margin-left:auto;
    margin-right:auto;	
}
#blueNexusTurret1 {
    margin-left:100px;
    margin-top: 710px;
}

#blueNexusTurret2 {
    margin-left:125px;
    margin-top: 735px;
}

#blueTopInhibTurret {
    margin-left:65px;
    margin-top: 555px;
}

#blueMidInhibTurret {
    margin-left:215px;
    margin-top: 610px;
}

#blueBotInhibturret {
    margin-left:270px;
    margin-top: 765px;
}

#blueTopInnerTurret {
      margin-left:75px;
     margin-top: 410px;
}

#blueMidInnerTurret {
    margin-left:300px;
    margin-top: 550px;
}

#blueBotInnerTurret {
    margin-left:445px;
    margin-top: 750px;
}

#blueTopOuterTurret {
     margin-left:50px;
     margin-top: 220px;
}

#blueBotOuterTurret {
    margin-left:610px;
    margin-top: 780px;
}

#blueMidOuterTurret {
    margin-left:350px;
    margin-top: 450px;
}

#redNexusTurret1 {
    margin-left:690px;
    margin-top: 80px;
}

#redTopInhibTurret {
    margin-left:575px;
    margin-top: 45px;
}

#redMidInhibTurret {
    margin-left:635px;
    margin-top: 200px;
}

#redBotInhibTurret {
    margin-left:785px;
    margin-top: 255px;
}

#redTopInnerTurret {
     margin-left:415px;
     margin-top: 60px;
}

#redMidInnerTurret {
    margin-left:540px;
    margin-top: 260px;
}

#redBotInnerTurret {
    margin-left:770px;
    margin-top: 400px;
}

#redTopOuterTurret {
    margin-left:250px;
     margin-top: 35px;
}

#redMidOuterTurret {
    margin-left:515px;
    margin-top: 350px;
}

#redBotOuterTurret {
    margin-left:800px;
    margin-top: 610px;
}

#redNexusTurret2 {
    margin-left:720px;
    margin-top: 110px;
}

#blueInhibTop {
    margin-left:65px;
	margin-top:615px;	
}

#blueInhibMid {
    margin-left:180px;
	margin-top:650px;	
}

#blueInhibBot {
    margin-left:220px;
	margin-top:765px;	
}

#redInhibTop {
    margin-left:630px;
	margin-top:55px;
}

#redInhibMid {
    margin-left:670px;
	margin-top:170px;
}

#redInhibBot {
    margin-left:785px;
	margin-top:220px;
}
