<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#nav-content"
            >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LoL Manager</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav-content">
            <ul class="nav navbar-nav">
                <li {% if req.path == '/' %} class="active" {% endif %}><a href="/"> Home </a></li>
                <li {% if req.path == '/player' %} class="active" {% endif %}><a href="/player"> Players </a></li>
                <li {% if req.path == '/simulation/server_side' %} class="active" {% endif %}>
                    <a href="/simulation/server_side"> Server Side Simulation </a>
                </li>
                <li {% if req.path == '/simulation/client_side' %} class="active" {% endif %}>
                    <a href="/simulation/client_side"> Client Side Simulation </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Subscribe</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
