<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


        <title>Lol Manager</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>

        <meta name="description" content="{% block description %}An awesome simuation for lol{% endblock %}" />
        <meta name="viewport" content="width=device-width" />

        <link rel="stylesheet" href="/styles/vendor.css" type="text/css" />
        <link rel="stylesheet" href="/styles/app.css" type="text/css" />

        {% block head %}
        {% endblock %}

    </head>
    <body data-filename="{{ filename }}">

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a></p>
        <![endif]-->

            {% block nav %}
                {% include 'Components/navbar.html' %}
            {% endblock %}

            {% block body %}
            {% endblock %}


            {% block footer %}
            {% endblock %}

        <script type="text/javascript" src="/scripts/vendor.js"></script>
        <script type="text/javascript" src="/scripts/shared.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </body>
</html>
