<form>
    <h2>Sign up</h2>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="email" class="form-control" id="username" placeholder="Username">
    </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox"> I accept the gneral condition agreement
        </label>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-signup">Signup now</button>
</form>
